[defaults]
inventory = hosts
private_key_file = ~/.ssh/id_rsa_alpinehq
remote_user = root
ansible_managed = This file is managed by ansible, manual edits will be lost
vault_password_file = ./.pass
roles_path = ./roles
